<%- include('../partials/head') %>

<body class="page">
  <%- include('../partials/header') %> <%- include('../partials/sidebar',
  {active: "code"}) %>

  <main class="content">
    <!-- prettier-ignore -->
    <% if (room) { %> 
    <%- include('../partials/users') %>
    <%- include('../partials/chat') %>
    <%- include('../partials/code-editor') %> 
    <% } else { %>
    <%- include('../partials/roomselect') %> 
    <% } %>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>
