<%- include('../partials/head') %>

<body class="page">
  <%- include('../partials/header') %> <%- include('../partials/sidebar',
  {active: "chat"}) %>

  <main class="content">
    <%- include('../partials/chat', {hidden: false}) %> <%-
    include('../partials/code-editor', {hidden: true}) %>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>
